{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>ChatGPT</title>
{% endblock %}

{% block body %}



 <div class="container py-5" id="dataForm">
   <div class="card">
  <div class="card-body">
    <div class="row d-flex justify-content-center">
   <div class="col-md-10 col-xl-9 mb-4 mb-md-0">
     <div class="py-4 d-flex flex-row">
    <h1 class="text-center">ChatGPT</h1>
    
     </div>
    <div class="card text-white" id="chatCard">
      {% for chat in chats %}
      <div class="card-body bg bg-secondary">
       <h5 class="card-title">{{ chat.text }}</h5>
      </div>
      <div class="card-body bg bg-light text-dark">
       <h5 class="card-title">{{ chat.gpt }}</h5>
        </div>
      {% endfor %}
    </div>

     <!--Loading-->
     <div class="d-flex align-items-center mt-4 text-primary" id="loading">
     </div>
     <!--Loading End-->
    
    <div class="mt-4">
     <div class="form-field">
      <textarea id="userText" required class="form-control" type="textarea" name="address" placeholder="Text:"></textarea>
     </div>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">
        <button id="submitBtn" class="btn btn-primary btn-lg fs-5">Generate Response</button>
        <button id="delete" class="btn btn-outline-danger fs-5">Delete Chat</button>
    
     </div>
   
    </div>
   </div>  
    </div>
  </div>
   </div>
 </div>


<script>
    $(document).ready(function(){
        $("#delete").click(function(event){
          event.preventDefault();
          $('#chatCard').remove();
          $.ajax({
            type: 'POST',
            url: "{% url 'ajax_remove_content' %}",
            success: function (response) {
                alert(instance = JSON.parse(response["instance"]));
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
            });
        });
    });
</script>

{% endblock %}